@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    font-size: 25px;
    padding: .5em;
    padding-left: 1em;
    color: white;
}

.logo span {
    color: #C5E45F;
}

.logo a {
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    width: 15em;
    margin-top: .5em;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: rgb(85, 85, 85);
}

.dropdown li {
    display: block;
    border-radius: 5px;
    padding: 5px 0;
}

.dropdown li a {
    font-size: 1em;
}

.dropdown li i {
    padding-right: .5em;
}

.dropdown li i:hover {
    color: orange;
}

li:hover .dropdown {
    display: block;
}

.header {
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.3s ease-in-out;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu li a:hover {
    color: rgb(164, 197, 55);
    background-color: rgb(100, 100, 100, .4);
    border-radius: 10px;
    transition: 0.3s ease;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 2em;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 10px;
}

.header .menu-icon .nav-icon:after {
    top: -10px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 280px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}


.a1 {
    animation: blinking 2s infinite;
    filter: drop-shadow(0px 0px 5px #A4C537);
}

@keyframes blinking {
    25% {
        color: white;
    }

    50% {
        color: transparent;
        opacity: 0;
        transition: 1s;
    }

    100% {
        color: #A4C537;
    }
}


/* bottam Nav  */
.bottamNav {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #fff;
    padding: 1rem 5rem;
}

.add-links a,
.add-icons a {
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
}

.black {
    width: 13em;
    height: auto;
}

.address {
    display: flex;
    flex-direction: column;
}

.add-links {
    padding: 1rem 0;
}

.add-links a {
    text-decoration: none;
    padding-left: 1rem;
}

.add-links a:nth-child(1) {
    padding-left: 0;
}

.add-links a:hover {
    color: #C5E45F;
}

.add-add {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.add-add a {
    text-decoration: none;
    color: #C5E45F;
}

.add-icons {
    display: flex;
    align-items: center;
}

.add-icons a {
    padding-right: 2rem;
    font-size: 2em;
}

.add-icons a:hover {
    color: #C5E45F;
}

.add-icons a:nth-child(3) {
    padding-right: 0;
}

footer {
    font-size: 1rem;
    text-align: center;
    padding: .5rem;
    color: #fff;
    background-color: black;
}

footer a {
    color: #C5E45F;
}

/* organizations start  */
.organizations {
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    background-color: transparent;
}

article {
    display: flex;
    width: 200%;
    animation: bannermove 35s linear infinite;
}

.org {
    display: flex;
    list-style-type: none;
}

.org img {
    width: auto;
    height: 3em;
}

.org li {
    display: flex;
    align-items: center;
    padding-left: 4em;
    /* margin: .5em; */
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-150px * 10));
    }
}

@media(max-width:700px) {
    .org img {
        width: auto;
        height: 3em;
    }

    .org li {
        padding-left: 1.5em;
    }

    .Event_gallery {
        flex-direction: column;
    }
}

/* organizations end  */


.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.disppear {
    animation: vanish 1.5s forwards;
}

@keyframes vanish {
    from {
        visibility: visible;
        opacity: 100;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}



/* Responsive Layout Start */
@media(width<1024) {
    .Interest-grp {
        padding: 1rem;
    }

    .grp {
        width: 15rem;
    }
}

@media(width<800px) {
    section {
        padding: 2rem 1rem;
    }

    .welcome strong {
        font-size: 4rem;
    }

    .welcome p {
        font-size: 1.5rem;
    }

    .about {
        flex-direction: column;
    }

    .div1 {
        font-size: 2.2rem;
        opacity: .15;
    }

    .div2 {
        position: absolute;
        font-size: 1.9rem;
        left: 35px;
        top: 20px;
    }

    .grp {
        width: 23rem;
    }

    .Interest-row {
        gap: 1rem;
    }

    .event .div2,
    .team .div2 {
        left: 25px;
    }

    .event {
        margin-bottom: 2rem;
    }

    .bottamNav {
        font-size: 1rem;
        padding: 2rem 1rem;
    }

    .row {
        flex-direction: column;
    }

}