@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    font-size: 25px;
    padding: .5em;
    padding-left: 1em;
    color: white;
}

.logo span {
    color: #C5E45F;
}

.logo a {
    text-decoration: none;
}

.dropdown {
    display: none;
    position: absolute;
    width: 15em;
    margin-top: .5em;
    border-radius: 5px;
    padding: 5px 5px;
    background-color: rgb(85, 85, 85);
}

.dropdown li {
    display: block;
    border-radius: 5px;
    padding: 5px 0;
}

.dropdown li a {
    font-size: 1em;
}

.dropdown li i {
    padding-right: .5em;
}

.dropdown li i:hover {
    color: orange;
}

li:hover .dropdown {
    display: block;
}



.header {
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    position: fixed;
    width: 100%;
    z-index: 3;
    transition: 0.3s ease-in-out;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header li a {
    display: block;
    padding: 20px 20px;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.menu li a:hover {
    color: #A4C537;
    background-color: rgb(100, 100, 100, .4);
    border-radius: 10px;
    transition: 0.3s ease;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 4px;
    position: relative;
    transition: background .2s ease-out;
    width: 2em;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .nav-icon:before {
    top: 10px;
}

.header .menu-icon .nav-icon:after {
    top: -10px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}



/* .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    height: 4em;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    z-index: 99999;
    top: 0;
}

.nav-links a {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    padding: .5em;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: .5em;
    font-size: 18px;
}

.menu li a:hover {
    color: #A4C537;
    background-color: rgb(100, 100, 100, .4);
    border-radius: 10px;
    transition: 0.3s ease;
}

.menu li {
    list-style: none;
    padding: 5px 14px;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 40px;
    font-weight: 500;
    user-select: none;
}


@media (max-width: 700px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgba(80, 80, 80, 0.9);
        right: 0;
        left: 0;
        text-align: center;
        padding: 20px;
    }

    .navbar {
        padding-top: 0em;
    }

    .nav-links {
        margin-right: 1em;
    }

    .menu li a {
        color: white;
    }

    .menu li a:hover {
        background-color: orange;
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 25px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }
} */