@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    background-image: linear-gradient(rgba(212, 212, 212, 0.1), transparent 10%), linear-gradient(90deg, rgba(207, 207, 207, 0.1), transparent 10%);
    background-size: 90px 90px;
    background-position: 0 0, 30px 30px;
}

section {
    width: 100%;
    height: fit-content;
    padding: 3rem 5rem;
}

.divider {
    position: relative;
    text-align: center;
    font-weight: 900;
}

.div1 {
    font-size: 4rem;
    opacity: .1;
}

.div2 {
    position: absolute;
    font-size: 3rem;
    left: 65px;
    top: 30px;
}

.home {
    color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./Assets/BG3.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.welcome strong {
    font-size: 5rem;
}

.welcome p {
    font-size: 1.8rem;
}


/* about section starts */
.about {
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #fff;
}

.video {
    width: 100%;
    border-radius: 20px;
}

.content {
    width: 95%;
}

.content b {
    font-size: 2rem;
}

.content p {
    padding-top: 1rem;
}

/* about section end*/

/* Interest Group start*/
.Interest-grp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Interest-grp .Interest-row {
    display: flex;
    justify-content: center;
    padding: 3rem 1rem;
    padding-bottom: 0;
    flex-wrap: wrap;
}

.grp {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;
    background-color: rgb(238, 238, 238, .5);
    width: 24rem;
}

.grp:hover{
    box-shadow: 3px 3px 3px 3px #cfcfcf;
}

.grp b {
    font-size: 1.4rem;
}

.Group-img {
    border-radius: 5px;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    margin-right: 1rem;
    float: left;
}

.course-link {
    padding: 1rem;
    color: black;
    transition: .3s ease-in-out;
}

.course-link:hover {
    font-size: 1.5rem;
}

.checkout {
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding: 1rem;
    width: 60%;
    border: 2px solid rgb(148, 148, 148);
    border-radius: 10px;
    text-align: center;
    transition: .5s ease-in-out;
}

.checkout:hover {
    background-color: rgb(148, 148, 148);
    color: #fff;
}

/* Interest Group end*/

/* Event Gallery Starts */
.Event_gallery {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    gap: 1rem;
}

.main h1 {
    font-size: 3.5rem;
}

.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.gallery__item {
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
}

.gallery__item img {
    width: 24rem;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.gallery__item img:hover {
    transform: scale(1.1);
}

@media (width< 1023px) {

    .main {
        padding: 2rem 5rem;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery__item img {
        width: 24rem;
    }
}

@media (width < 650px) {
    .main {
        padding: 0rem;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.modal {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    margin-top: -1px;
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.modal img {
    width: 90%;
    padding: .5rem;
    object-fit: cover;
}

.closeBtn {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.closeBtn:hover {
    color: rgb(255, 255, 255);
}

/* Event Gallery End */


/* Team Members start */
.team-members {
    padding-top: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}