@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.bgvideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

hr {
    background-color: #333;
}

/* home start  */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50em;
    margin-left: 1em;
    margin-right: 1em;
    z-index: -1;
}

.welcome strong span {
    color: #A4C537;
}

.welcome strong {
    font-size: 4em;
}

.a1 {
    animation: blinking 2s infinite;
    filter: drop-shadow(0px 0px 5px #A4C537);
}

@keyframes blinking {
    25% {
        color: white;
    }

    50% {
        color: transparent;
        opacity: 0;
        transition: 1s;
    }

    75% {
        color: #A4C537;
    }

    100% {
        color: #A4C537;
    }
}

.welcome p {
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
}

.welcome b {
    color: #A4C537;
}

.divider {
    background-color: #111;
    display: flex;
    align-items: center;
    padding-left: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: bold;
}

.divider span {
    height: .1em;
    width: 5em;
    background-color: gray;
    margin-left: 1em;
}

/* home end  */


/* about start */
.About {
    background-color: rgb(0, 0, 0, .9);
    padding-top: 3em;
    padding-bottom: 3em;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 3em;
    margin-right: 3em;
}

.ABOUT {
    margin-top: 1em;
    font-size: 2em;
    color: orange;
}

.content {
    margin-left: 1em;
    margin-right: 1em;
    flex: 60%;
}

.content p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;
}

.College {
    flex: 40%;
    margin: 1em;
    text-align: center;
    height: auto;
}

@media (max-width:700px) {
    .About {
        padding-top: 2em;
    }

    .home {
        text-align: left;
    }

    .about {
        flex-direction: column;
        margin-left: .5em;
        margin-right: .5em;
    }

    .welcome p {
        font-size: 1em;
    }

    .welcome h1 {
        font-size: 2.2em;
    }

    video {
        width: 100%;
        height: auto;
    }

    footer {
        padding-left: 1em;
        padding-right: 1em;
    }

    .divider {
        padding-left: 1em;
        font-size: 1.5em;
    }

    .divider span {
        width: 4em;
        margin-left: .5em;
    }
}

/* about end */


/* footer start */
footer {
    text-align: center;
    background-color: #333;
    padding-top: .5em;
}

footer p {
    padding-bottom: .5em;
    font-size: .9em;
}

footer span {
    color: #A4C537;
    font-weight: bold;
}

/* footer end  */


/* bottam Nav  */
.bottamNav {
    background-color: black;
    padding: 1em;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

.menu {
    display: flex;
}

.menu ul li {
    list-style: none;
    padding: .3em;
}

.menu i {
    color: orange;
}


.two {
    padding-left: 2em;
}

.address {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add {
    padding-top: 1.5em;
    padding-left: 2em;
}

.add span {
    color: #A4C537;
}

.add p {
    padding-top: .5em;
}

.menu a:hover {
    color: #A4C537;
    transition: all .5 ease-in-out;
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
        margin: 1em;
    }

    .bottamNav {
        padding: .5em;
    }

    .menu {
        font-size: small;
        justify-content: space-around;
        padding-top: 1em;
    }

    .add {
        padding-top: 0em;
        padding-left: 1em;
        padding-bottom: 1.5em;
    }

    .add p {
        font-size: .9em;
    }

    img {
        margin-top: 2em;
        width: 150px;
        height: 100px;
    }
}

/* gallery start  */

.gallery {
    display: flex;
    background-color: #333;
    padding: 2em;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15em;
    height: auto;
    margin-left: 2em;
    border-radius: 1em;
}

.card img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card-inside {
    padding: .5em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .gallery {
        flex-direction: column;
        padding: 0;
        padding-top: 0;
    }

    .card {
        width: 20em;
        margin-left: 0;
        margin: 1em;
        margin-top: 0;
    }

    .card img {
        height: 100%;
    }
}

/* gallery end  */

/* contact start  */
.row1 {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    background-color: black;
}

.address1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.add1 i {
    font-size: 1.5em;
}

.add1 h4 {
    color: orange;
    font-size: 1.5em;
    padding-top: .5em;
}

.add1 p {
    padding-bottom: 1em;
}

form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.rowForm {
    display: flex;
}

.form-control {
    border-radius: 5px;
    padding: 1em;
    margin: .5em;
}

.colForm {
    display: flex;
    flex-direction: column;
}

.btn {
    display: flex;
    justify-content: center;
    margin: .5em;
}

.btn button {
    padding: .5em;
    width: 150px;
    border-radius: 5px;
    color: white;
    border-color: orange;
}

.btn button:hover {
    border-color: white;
    background-color: orange;
    color: black;
    transition: .5s ease-in-out;
    box-shadow: 0px 0px 5px rgb(183, 183, 183);
}

.social {
    padding-top: 1em;
}

.social a {
    font-size: 2em;
    padding: .5em;
    padding-left: 0;
}

.social a i {
    color: orange;
}

.social a i:hover {
    color: white;
    transition: .5s;
}

@media(max-width:700px) {
    .row1 {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }

    form {
        margin-right: 0;
    }

    .address1 {
        margin-left: 1.5em;
    }

    .rowForm {
        flex-direction: column;
    }
}

/* contact end  */

/* organizations start  */
.organizations {
    width: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0, .9);
}

article {
    display: flex;
    width: 200%;
    animation: bannermove 20s linear infinite;
}

.org {
    display: flex;
    list-style-type: none;
}

.org li {
    display: flex;
    align-items: center;
    padding-left: 4em;
    margin: .5em;
}

@keyframes bannermove {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media(max-width:700px) {
    .org img {
        width: auto;
        height: 3.5em;
    }

    .org li {
        padding-left: 1.5em;
    }

    artilce {
        animation: bannermove 5s linear infinite;
    }
}

/* organizations end  */


/* service block start  */


/* service block end  */


/* animation start  */
.area {
    width: 100%;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50em;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 2s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 3s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(11) {
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 11s;
}
.circles li:nth-child(12) {
    left: 85%;
    width: 60px;
    height: 60px;
    animation-delay: 2s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
/* animation ends  */