@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-color: #333;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url('Assets/BG2.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

/* home start  */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50em;
    margin-left: 1em;
    margin-right: 1em;
    z-index: -1;
}

.welcome h1 span {
    color: #A4C537;
}

.welcome h1 {
    font-size: 4em;
}

.welcome p {
    font-size: 1.5em;
    font-weight: bolder;
    font-style: italic;
}

.welcome b {
    color: #A4C537;
}

.divider {
    background-color: #333;
    display: flex;
    align-items: center;
    padding-left: 2em;
    height: 2em;
    font-size: 2em;
    font-weight: bold;
}

.divider span {
    height: .1em;
    width: 5em;
    background-color: gray;
    margin-left: 1em;
}

/* home end  */


/* about start */
.About {
    background-color: rgb(0, 0, 0, .9);
    padding-top: 3em;
    padding-bottom: 3em;
}

.about {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 3em;
    margin-right: 3em;
}

.ABOUT {
    margin-top: 1em;
    font-size: 2em;
    color: orange;
}

.content {
    margin-left: 1em;
    margin-right: 1em;
    flex: 60%;
}

.content p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 600;
}

.College {
    flex: 40%;
    margin: 1em;
    text-align: center;
    height: auto;
}

@media (max-width:700px) {
    .About {
        padding-top: 2em;
    }

    .about {
        flex-direction: column;
        margin-left: .5em;
        margin-right: .5em;
    }

    .welcome p {
        font-size: 1em;
    }

    .welcome h1 {
        font-size: 2em;
    }

    video {
        width: 100%;
        height: auto;
    }

    footer {
        padding-left: 1em;
        padding-right: 1em;
    }

    .divider {
        padding-left: 1em;
    }

    .divider span {
        width: 4em;
        margin-left: .5em;
    }
}

/* about end */


/* footer start */
footer {
    text-align: center;
    background-color: #333;
    padding-top: .5em;
}

footer p {
    padding-bottom: .5em;
}

footer span {
    color: #A4C537;
    font-weight: bold;
}

/* footer end  */


/* bottam Nav  */
.bottamNav {
    background-color: black;
    padding: 1em;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

.menu {
    display: flex;
}

.menu ul li {
    list-style: none;
    padding: .3em;
}

.menu i {
    color: orange;
}


.two {
    padding-left: 2em;
}

.address {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.add {
    padding-top: 1.5em;
    padding-left: 2em;
}

.add span {
    color: #A4C537;
}

.add p {
    padding-top: .5em;
}

.menu a:hover {
    color: #A4C537;
    transition: all .5 ease-in-out;
}

@media(max-width:700px) {
    .row {
        flex-direction: column;
        margin: 1em;
    }

    .bottamNav {
        padding: .5em;
    }

    .menu {
        font-size: small;
        justify-content: space-around;
    }

    .add {
        padding-top: 0em;
        padding-left: 1em;
        padding-bottom: 1.5em;
    }

    .add p {
        font-size: .9em;
    }

    img {
        margin-top: 2em;
        width: 150px;
        height: 100px;
    }
}

/* gallery start  */

.gallery {
    display: flex;
    background-color: #333;
    padding: 2em;
    padding-top: 1em;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15em;
    height: auto;
    margin-left: 2em;
    border-radius: 1em;
}

.card img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card-inside {
    padding: .5em;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media(max-width:700px) {
    .gallery {
        flex-direction: column;
        padding: 0;
        padding-top: 0;
    }

    .card {
        width: 20em;
        margin-left: 0;
        margin: 1em;
        margin-top: 0;
    }

    .card img {
        height: 100%;
    }
}

/* gallery end  */